$md-mcgpalette0: (
    50 : #eaedfd,
    100 : #cbd3f9,
    200 : #a8b5f5,
    300 : #8597f1,
    400 : #6b81ee,
    500 : #516beb,
    600 : #4a63e9,
    700 : #4058e5,
    800 : #374ee2,
    900 : #273cdd,
    A100 : #ffffff,
    A200 : #e6e9ff,
    A400 : #b3bbff,
    A700 : #9aa4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
    50 : #f0fbff,
    100 : #daf5ff,
    200 : #c2efff,
    300 : #a9e9ff,
    400 : #96e4ff,
    500 : #84dfff,
    600 : #7cdbff,
    700 : #71d7ff,
    800 : #67d2ff,
    900 : #54caff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f9fdff,
    A700 : #e0f5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette2: (
    50 : #fdfafe,
    100 : #faf2fb,
    200 : #f6e9f9,
    300 : #f2e0f7,
    400 : #f0d9f5,
    500 : #edd2f3,
    600 : #ebcdf1,
    700 : #e8c7ef,
    800 : #e5c1ed,
    900 : #e0b6ea,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

